.heroBackground {
    background-image: url('../../../public/image\ ref.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.secondBackground {
    background-image: url('../../../public/images/speaker.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}