.heroBackground {
    background-image: url('../../../public/image\ ref.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.secondBackground {
    background-image: url('../../../public/images/speaker.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* scale:100vh */
}

.thirdBackground {
    background-image: url('../../../public/njalo.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    /* scale:100vh */
}

.thirdBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 0;
    pointer-events: none;
    /* Allows content to be clickable through the overlay */
}
.fourthBackground {
    background-image: url('../../../public/studio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        
        /* scale:100vh */
}

.fourthBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 0;
    pointer-events: none;
        /* Allows content to be clickable through the overlay */
}